* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #666666;
  text-decoration: none;
}

#bg {
  height: 100vh;
  width: 100vw;
  background: #f2f2f2;
}

header .head {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 150px;
}

header .head .home-title h1 {
  font-size: 30px;
}

header .head .home-title h1 span {
  color: #dc3545;
}

header .head .home-title:hover {
  text-decoration: underline;
}

header .head #btnBack {
  font-size: 15px;
  font-weight: bolder;
  padding: 7px 30px;
  background: #d9a420;
  color: white;
  border: 3px solid #d9a420;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .head #btnBack:hover {
  color: #999999;
  background: white;
  border-color: #999999;
}

.container {
  max-width: 80vw;
  margin: 2rem auto;
}

.container .table-wrapper .table {
  width: 100%;
  border-collapse: collapse;
}

.container .table-wrapper .table th,
.container .table-wrapper .table td {
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

.container .table-wrapper .table .tr:hover {
  background: #f5f5f5;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.container .table-wrapper .table th {
  background: white;
}

.tHeader {
  background: #184A45FF;
  padding: 1rem;
  text-align: center;
}

.tHeader h3 {
  color: white;
}

.underHead {
  padding: 0.5rem 2rem;
  text-align: end;
}

.underHead #sortHistory,
.underHead #searchHistory {
  width: 8rem;
  height: 2rem;
  color: #999999;
  border: 1px solid #999999;
  text-indent: 0.5rem;
}

.underHead #sortHistory:focus,
.underHead #searchHistory:focus {
  outline: 1px solid #999999;
}

.underHead #searchHistory {
  margin-right: 20px;
  width: 15rem;
}

.rowBtn {
  font-size: 14px;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 1rem;
  border: none;
}

.rowBtn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btnChamp {
  outline: 1px solid #5b23f9;
  color: #5b23f9;
  background: transparent;
}

.btnChamp:hover {
  background: #5b23f9;
  color: white;
}

.btnOne {
  outline: 1px solid #f95309;
  color: #f95309;
  background: transparent;
}

.btnOne:hover {
  background: #f95309;
  color: white;
}

.btnTwo {
  outline: 1px solid #9e0d77;
  color: #9e0d77;
  background: transparent;
}

.btnTwo:hover {
  background: #9e0d77;
  color: white;
}

#showTeamDetailsWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.26);
  display: none;
}

#showTeamDetailsWrapper .modal-container {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(242, 242, 242, 0.9))), url(./Images/Background.jpg) center/cover no-repeat;
  background: linear-gradient(to right, rgba(242, 242, 242, 0.9)), url(./Images/Background.jpg) center/cover no-repeat;
  text-align: center;
  width: 400px;
  margin: 5rem auto;
  -webkit-box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 22px -6px rgba(0, 0, 0, 0.75);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  border-radius: 20px;
}

#showTeamDetailsWrapper .modal-container form {
  display: -ms-grid;
  display: grid;
  padding: 0px 40px;
}

#showTeamDetailsWrapper .modal-container form .dataContents {
  display: -ms-grid;
  display: grid;
  padding: 0px 40px;
}

#showTeamDetailsWrapper .modal-container form .dataContents h3 {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  font-size: 23px;
}

#showTeamDetailsWrapper .modal-container form .dataContents h3 span {
  font-size: 40px;
  color: #dc3545;
}

#showTeamDetailsWrapper .modal-container form .txtsCont {
  margin: 20px 30px;
}

#showTeamDetailsWrapper .modal-container form .txtsCont .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#showTeamDetailsWrapper .modal-container form .txtsCont .infoContainer .label {
  font-weight: bold;
}

#showTeamDetailsWrapper .label {
  font-weight: bold;
}

#showTeamDetailsWrapper #memberContainer {
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  padding: 20px 0;
  margin-bottom: 40px;
}

#showTeamDetailsWrapper #memberContainer .member {
  padding: 0;
}
/*# sourceMappingURL=studentHistoryStyles.css.map */